body {
  margin:0;
  font-family:Poppins;
  background:#020617;
  color:white;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
  padding:20px;
}

.card {
  background:#1e293b;
  border-radius:12px;
  overflow:hidden;
  cursor:pointer;
}

.card img {
  width:100%;
}

.card h3 {
  padding:10px;
}
